h1{
    text-align: center;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal
}
h2{
    text-align: center;
    font-family: "Michroma", sans-serif;
}
ul, li{
    list-style: none;
    text-align:center;

}
img{
    width:600px;
    height:650px;
    border-radius: 8px;
    box-shadow: darkgrey;
}
body{
    background-color: powderblue;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 99%;
    background-color: #2c3e50;
    color: white;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}
button{
    border-radius: 6px;
    background-color: white;
    font-size: 12px;
    width: 75px;
    height: 35px;
}
button:hover{
    transform: scale(1.1);
    background-color: aquamarine;
}

h3{
    text-align: center;
    flex-wrap: wrap;
    font-weight: normal;


}
h3, p{
    font-size:20px;


}
.movieContainer {
    width: 650px;
    margin: 0 auto;
    padding: 10px;
    float: right;

}
